@import "tailwindcss";

/* Custom styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

main {
    padding: 1.5rem;
}

h2 {
    font-size: 2.25rem;
    margin: 1rem;
    font-weight: bold;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 2rem;
    margin: 0.5rem;
}

.navbar {
    position: fixed;
    top: 10px;
    left: 15px;
    right: 15px;
    z-index: 100;
    background-color: inherit;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.intro-container h2 {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.intro-container h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.intro-container h4 {
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    color: #fbbf24; /* amber-yellow-500 */
}
.intro-container p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.home-icons {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}  

.home-buttons .contact-btn, .home-buttons .projects-btn {
    display: block;
    width: 200px;
    margin-bottom: 1rem;
}


#about-me, #expertise {
    max-width: 1200px;
    margin: 0 auto;
}

#expertise {
    text-align: center;
}

#expertise .descriptions {
    margin: 10px
}

#expertise .descriptions article {
    padding: 5px;
}


.icons {
    margin: 20px;
}

.icons li {
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 2rem;
}