.dark-mode {
    background-color: #022b35;
    color: #f4ddc1;
}

.dark-mode h2 {
    color: #ff5f61;
}

.dark-mode a {
    color: #daa520;
}

.dark-mode button:hover {
    background-color: #f96630;
}
.light-mode {
    background-color: #84d7e0;
    color: #121212;
}