/* Dark Mode Styles */

.dark-mode {
    background-color: #022b35;
    color: #f4ddc1;
}

.dark-mode h2 {
    color: #ff5f61;
}

.dark-mode a {
    color: #daa520;
}

.dark-mode button:hover {
    background-color: #f96630;
}

/* Light Mode Styles */

.light-mode {
    background-color: #FFFFFF;
    color: #121212;
}

.light-mode h2 {
    color: #ff9c5f;
}

.light-mode a {
    color: #eb4203;
    cursor: pointer;
}

.light-mode button {
    cursor: pointer;
    color: #eb4203;
    border: 2px solid #000000;
}


.light-mode button:hover {
    background-color: #ff7900;
    color: #121212;
    border: 2px solid #eb4203;
}